.search-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 25px 10px 25px 20px;
  overflow-y: auto;
}

.search-sidebar__form {
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 0 5px #a1a1a0;
  padding: 10px;
  border-radius: 10px;
}

.search-sidebar__legend {
  font-weight: bold;
}

.search-sidebar__fieldset {
  display: flex;
  flex-direction: column;
  list-style: none;
  border-radius: 10px;
  border: #a1a1a0 1px solid;
  margin: 0 0 15px;
  padding: 10px 5px;
}

.search-sidebar__fieldset:last-child {
  margin-bottom: 0;
}

.search-sidebar__label {
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 16px;
}

.search-sidebar__label:last-child {
  margin-bottom: 0;
}

.search-sidebar__input {
  cursor: pointer;
}

.search-sidebar__input_price {
  min-width: 120px;
  margin-left: 5px;
  cursor: text;
}

.search-sidebar__input-container_price {
  margin-bottom: 10px;
}

.search-sidebar__input-container_price:last-child {
  margin-bottom: 0;
}
