.flight-card {
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 0 0 10px 0 #a1a1a0;
  background-color: white;
  padding: 0;
  overflow: hidden;
}

.flight-card__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0 0 5px 5px;
  box-sizing: border-box;
  background-color: #107be4;
  padding: 5px 10px;
}

.flight-card__carrier-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.flight-card__carrier-logo {
  width: 40px;
  height: 25px;
  object-fit: contain;
  object-position: center;
}

.flight-card__carrier-text {
  max-width: 260px;
  color: white;
  margin: 0;
}

.flight-card__price-count {
  color: white;
  text-align: end;
  margin: 0;
}

.flight-card__price-info {
  color: white;
  font-size: 12px;
  line-height: 16px;
  text-align: end;
  margin: 0;
}

.flight-card__routes-list {
  list-style: none;
  padding: 10px;
  margin: 0;
}

.flight-card__route-container:last-child {
  border-top: #107be4 2px solid;
}

.flight-card__route-title {
  border-bottom: #107be4 1px solid;
  padding: 10px 0;
  margin: 0 10px;
}

.flight-card__text {
  margin: 0;
  padding: 0;
}
.flight-card__text_blue {
  color: #107be4;
  margin: 0 4px;
}

.flight-card__route-dates {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: #107be4 1px solid;
  padding: 10px 0;
  margin: 0 20px;
  position: relative;
}

.flight-card__route-carrier {
  padding: 15px 0 10px;
  margin: 0 10px;
}

.flight-card__transfer-info {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 600;
  background-color: white;
  color: #ffa43b;
  padding: 0 5px;
  margin: 0;
}

.flight-card__btn {
  background-color: #ffa43b;
  border-radius: 5px;
  border: none;
  color: white;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  width: calc(100% - 20px);
  margin: 10px;
  padding: 10px 30px;
  cursor: pointer;
  transition: opacity 0.5s ease-out, transform 0.3s ease;
}

.flight-card__btn:hover {
  opacity: 0.7;
}

.flight-card__btn:active {
  transform: scale(0.98);
}
